/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/
body {font-family: 'Open Sans', sans-serif; margin: 0; padding: 0; }
strong, b {font-weight: 600; }
img {max-width: 100%; height: auto; }
ul, ol {list-style: none; }
ul {padding: 0; margin: 0; }
a {transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -webkit-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; }
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif; font-weight: 600; margin: 0; }
/*Header Css Start*/
.navbar{margin-bottom: 0px;border: none;}
.nav>li>a{color: #999;padding: 20px 20px;font-size: 16px;}
.navbar-brand {float: left; height: 50px; padding:15px 15px; font-size:30px; font-weight: 600; line-height: 20px; color: #ee3733; }
.navbar-brand a{display: inline-block;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {color: #fff; background-color: #ee3733; border-bottom: 2px solid #470200; }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {color: #fff; background-color: #ee3733; border-bottom: 2px solid #470200; height:60px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #ee3733; }
.navbar-default .navbar-toggle .icon-bar {background-color: #fff; }
.navbar-nav {margin: 0px -15px; }
.login-btn{font-weight: bold;}
.sign-btn{font-weight: bold;}
/*.login-btn{background: #ee3733;display: inline-block;color: #fff !important;outline: none; -moz-box-shadow: inset 0 -1px 1px #470200, 0 3px 0 #470200, 0 3px 3px rgba(0, 0, 0, 0.35); -webkit-box-shadow: inset 0 -1px 1px #470200, 0 3px 0 #470200, 0 3px 3px rgba(0, 0, 0, 0.35); box-shadow: inset 0 -1px 1px #470200, 0 3px 0 #470200, 0 3px 3px rgba(0, 0, 0, 0.35); -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; text-decoration: none;}
.sign-btn{background: #ee3733;display: inline-block;color: #fff !important;outline: none; -moz-box-shadow: inset 0 -1px 1px #470200, 0 3px 0 #470200, 0 3px 3px rgba(0, 0, 0, 0.35); -webkit-box-shadow: inset 0 -1px 1px #470200, 0 3px 0 #470200, 0 3px 3px rgba(0, 0, 0, 0.35); box-shadow: inset 0 -1px 1px #470200, 0 3px 0 #470200, 0 3px 3px rgba(0, 0, 0, 0.35); -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; text-decoration: none;}*/
/*Header Css End*/
/*Slider Css Start*/
#carousel-example-generic .item img {width: 100%; }
#carousel-example-generic .carousel-control .fa-angle-left {left: 0; }
#carousel-example-generic .carousel-control .fa-angle-left, #carousel-example-generic .carousel-control .fa-angle-right {position: absolute; top: 40%; z-index: 5; display: inline-block; }
#carousel-example-generic .carousel-control i {background: rgba(0,0,0,.7); color: #fff; line-height: 36px; font-size: 32px; padding: 15px 20px; -moz-transition: all 500ms ease; -webkit-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; }
#carousel-example-generic .carousel-control i:hover {background: #ee3733; }
#carousel-example-generic .carousel-control .fa-angle-right {right: 0; }
/*Slider Css End*/
/*Feature Css Start*/
#feature {background-color: #fff; display: inline; float: left; padding:40px 0; width: 100%; }
#feature .classic-title {margin-bottom:50px; padding-bottom: 15px; border-bottom: 1px solid #ddd; font-weight: 300; text-align: center; }
#feature .classic-title span {text-transform: uppercase; padding-bottom: 8px; border-bottom: 4px solid #777; color: #ee3733; font-weight: 600; text-align: center; }
#feature .service-box {margin-bottom: 35px; }
.advisor-img{position: relative;}
.advisor-img img{width: 100%;}
.play-overlay {position: absolute; left:-80px; bottom: 0; display: inline-block; }
.play-overlay img {width: 20%; height: 20%; }
#feature .caption h3{font-size: 24px; text-align: center; padding-bottom: 10px; }
#feature .service-title{text-align: center; padding-bottom: 10px;}
#feature .service-title i {color: #ee3733; padding: 0px 7px 0px 7px; display: inline-block; vertical-align: middle; }
#feature .rating{text-align: center; padding-bottom: 10px;border-bottom: 1px solid #ccc;color: #ee3733;}
.service-description {height: 100px; overflow: hidden; font-size: 14px; text-align: center; line-height: 20px; padding-top: 5px; }
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.pagination{margin: 0;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background-color: #ee3733;border-color: #ee3733;}
/*Feature Css End*/
/*Full width Css Start*/
#full-width{background: url(../images/parallax-bg.jpg);background-attachment: fixed;padding:100px 0px;}
#full-width h1{color: #fff;text-align: center;font-size:40px;}
/*Full width Css End*/
/*Work Css Start*/
#work-wrap{background-color: #fff; display: inline; float: left; padding:40px 0; width: 100%; }
#work-wrap .classic-title {margin-bottom:50px; padding-bottom: 15px; border-bottom: 1px solid #ddd; font-weight: 300; text-align: center; }
#work-wrap .classic-title span {text-transform: uppercase; padding-bottom: 8px; border-bottom: 4px solid #777; color: #ee3733; font-weight: 600; text-align: center; }
.work-section{margin-bottom: 30px;}
.work-box .number {background: #EFA600; display: inline-block; position: absolute;left: 0; top: 0; color: #fff; font-size: 24px; line-height: 20px; padding: 10px 15px 10px 15px; font-family: 'Open Sans'; text-transform: uppercase; }
.work-blog{border: 1px solid #ccc;padding: 10px;}
.work-blog p{font-size: 14px; color: #8E8D8D; font-weight: 500; line-height: 24px; }
.work-box{position: relative;text-align: center;}
/*Work Css End*/
/*Client Css Start*/
/*Client Css End*/
/*Footer Css Start*/
footer{background: #161616;padding:40px 0 40px 0px;}
footer .widget h3 {font-size: 16px; line-height: 26px; font-weight: bold; color: #ee3733; text-transform: uppercase; margin: 0; padding-bottom: 15px; margin-bottom: 10px; border-bottom: 1px solid #444; }
footer .widget p {font-size: 14px; line-height: 24px; color: #636363; }
footer .widget a.read-more {text-decoration: none; display: block; padding-bottom: 5px; color: #ee3733; font-size: 14px; line-height: 24px; }
ul.social-network {list-style: none; margin:0; padding: 0; }
ul.social-network li {display:inline-block; margin: 0 5px 0 0; }
.social-network a.icoinstagram:hover {background-color:#6a453b; border: 2px solid #6a453b; }
.social-network a.icoFacebook:hover {background-color:#3B5998; border: 2px solid #3B5998; }
.social-network a.icoTwitter:hover {background-color:#33ccff; border: 2px solid #33ccff; }
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i {color:#fff; }
a.socialIcon:hover, .socialHoverClass {color:#44BCDD; }
.social-circle li a {display:inline-block; position:relative;-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; text-align:center; width:36px; height:36px; border: 2px solid #fff; font-size:16px; }
.social-circle li i {margin:0; line-height:32px; text-align: center; }
.social-circle li a:hover i, .triggeredHover {-moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms--transform: rotate(360deg); transform: rotate(360deg); -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s; }
.social-circle i {color: #fff; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s; }
footer .widget .our-services li a {text-decoration: none; font-size: 14px; color: #636363; text-transform: capitalize; line-height: 24px; font-family: 'Open Sans'; border-bottom: 1px solid #2C2C2E; display: block; padding-bottom: 10px; margin-bottom: 10px; transition: all .3s ease; }
footer .widget .our-services li a:before {font-family: 'FontAwesome'; content: '\f105'; color: #636363; font-size: 14px; line-height: 14px; margin-right: 15px; transition: all .3s ease; }
footer .widget .our-services li a:hover:before, footer .widget .our-services li a:hover {color: #ee3733; }
footer .widget .contact-info li {font-size: 14px; line-height: 26px; color: #636363; padding-bottom: 7px; margin-bottom: 14px; border-bottom: 1px solid #2C2C2E; padding-bottom: 14px; }
footer .widget .contact-info li .fa {color: #636363; }
footer .widget .contact-info li span {line-height: 21px; padding-left: 15px; font-family: 'Open Sans'; }
footer .widget {margin-bottom: 20px; }
.footer-widget.flickr-widget {display: inline-block; }
.flickr-widget ul li:nth-child(3n+1) {margin-left: 0; }
.flickr-widget ul li {float: left; margin-left: 8px; margin-bottom: 8px; }
.flickr-widget ul li a:hover {opacity: 1; }
.flickr-widget ul li a {display: inline-block; width: 80px; opacity: 0.6; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; border: 4px solid #333; transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; }
.flickr-widget ul li a img {width: 100%; height: 60px; }
.downloads {margin-top:20px;text-align: center; }
.downloads li h3 {font-size: 18px; line-height: 27px; color: #745d76; margin-bottom: 8px; }
.downloads li{display: inline-block;margin-left: 20px;}
.downloads li a{display: inline-block;}
.copyright-wrap{background: #0F0F0F;}
.copyright-wrap p{text-align: center;line-height: 80px;color: #3F3F3F;}
/*Footer Css End*/
/*Login popup*/
.modal{background: rgba(0,0,0,0.6);}
.Login-header {padding: 15px; border-bottom: 1px solid #e5e5e5; text-align: center; background: #ee3733; color: #fff; }
.login-avatar{padding: 20px 0px 30px 0px;text-align: center;}
.avtar-circle{width: 40%;border-radius: 50%;}
.close{color: #fff;opacity: inherit;text-shadow: 0px;}
.inner input[type="submit"] {font-size: 14px; color: #fff; background: #ee3733; border: 3px solid #ee3733; border-radius: 8px; outline: none; cursor: pointer; padding: 10px; -webkit-appearance: none; width: 100%; margin: 5px 0; transition: 0.5s all; -webkit-transition: 0.5s all; -moz-transition: 0.5s all; -o-transition: 0.5s all; -ms-transition: 0.5s all; }
a.forgot {text-decoration: none; font-size: 15px; color: #ee3733; font-weight: 400; margin-top: 15px; text-align: center; margin: 0 auto; display: block; }
.btn-sign {color: #fff; background-color: #ee3733; border-color: #ee3733; }
.btn.focus, .btn:focus, .btn:hover{color: #fff;}
@media (min-width: 768px){
.modal-dialog {width: 400px; margin:100px auto; }
}
@media (max-width: 991px){
.contact-details {display: none!important; }
}
/*Personal Profile Css Start*/
.personal-profile{background: url(../images/profile-bg1.jpg);background-size: cover;padding:30px 0px;}
.outter {padding: 0px; border: 1px solid rgba(255, 255, 255, 0.29); border-radius: 50%; text-align: center; width: 200px; height: 200px; margin: 0 auto; }
.image-circle {border-radius: 50%; width: 175px; height: 175px; border: 4px solid #FFF; margin: 10px; }
.profile-title {margin-top: 20px; }
.profile-title h1{color: #fff;padding-bottom: 10px;font-size: 48px;font-family: "proxima-nova", sans-serif;text-shadow: 0 2px 0 rgba(64,34,68,0.27);font-weight: bold;}
.profile-title .heart{color: #fff;font-size: 18px;}
.profile-title .heart i{color: #fff; padding: 0px 7px 0px 7px; display: inline-block; vertical-align: middle; }
.profile-title .rating { padding-top: 10px;padding-left: 10px; color: #fff; }
.follow-wrap{float: right;text-align: center;margin-top: 20px;}
.countlist li{text-align: center;display: inline-block;padding: 0px 14px 0px;cursor: pointer;}
.countlist h3{display: inline-block; color: #fff;padding-bottom:20px;font-weight: bold;}
.countlist img {display: inline-block; vertical-align: baseline; margin-right: 10px; }
.countlist li small{display: block;padding-top: 5px;color: #fff;font-size: 14px;text-transform: uppercase;}
.reading-btn{display: inline-block;text-align: center;}
.reading-btn a{text-decoration: none; display: block; width: 180px; margin: 10px 0; padding: 12px 0 12px; background-color: #fca215; font-size: 20px; line-height: 34px; text-align: center; color: white; text-shadow: 0 -1px 0 #d17700; border-radius: 5px; box-shadow: 0 2px 1px -1px #d17700; }
.follow-btn a:hover{box-shadow: 0 4px #470200;}
.personal-body{padding: 50px 0px;}
.personal-summary{background-color: #fff;border: 1px solid #ddd;padding: 10px;margin-bottom: 15px;}
.personal-summary h1{color: #ee3733;font-size: 24px;padding-bottom: 10px;}
.personal-summary p{color: #777;line-height: 24px;}
.classic-title1 {margin-top:30px;margin-bottom:30px; padding-bottom: 8px;font-size: 24px; border-bottom: 1px solid #ddd; font-weight: 300; text-align: left; }
.classic-title1 span {text-transform: uppercase; padding-bottom: 7px; border-bottom: 4px solid #777; color: #ee3733; font-weight: 600; text-align: left; }
.rating-review{background-color: #fff;border: 1px solid #ddd;padding: 10px;margin-bottom: 15px;}
.rating-review p{font-size: 18px;margin: 0;}
.feedback-wrap{margin-bottom: 10px;}
.feed-head img{display: inline-block;vertical-align: top;}
.feed-title{display: inline-block; padding-left: 5px; font-size: 16px; line-height: 20px; }
.feed-title h3{}
.feed-date{color: #bfbfbf;font-size: 14px;}
.paginate{padding:30px 0px 0px 0px;}
.bs-callout-danger {border-left:4px solid #d9534f; }
.comment-area{margin-bottom: 20px;}
.submit-btn a{text-decoration: none; display: block; width: 180px; margin: 10px 0; padding: 12px 0 12px; background-color: #fca215; font-size: 20px; line-height: 34px; text-align: center; color: white; text-shadow: 0 -1px 0 #d17700; border-radius: 5px; box-shadow: 0 2px 1px -1px #d17700; }
#sidebar .widget-title{background: #ee3733;padding: 10px;color: #fff;}
#sidebar .widget{background: #fff;padding:15px;border: 1px solid #ddd;margin-bottom: 20px;}
/*Personal Profile Css End*/
/*#top{background-color:#1b080c;color:#fff;}*/
.pagi{text-align:center;}
.thumbnail{box-shadow: 0px 2px 0px 0px #ddd;}
.nav li a{font-size:14px;text-align:left;}
#navi .active{background-color: #ee3733;border-color: #ee3733;color:#fff!important;border-bottom:2px solid #000!important;height:60px;}
.navbar-offcanvas{top:60px!important;}
.toggle {
    color: #666;
    display: block;
    height: 72px;
    line-height: 72px;
    text-align: center;
    width: 72px;
  }
  
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-68 { font-size: 58px; color:#DAD8D0;}
.profile_pic{border:2px solid #FFF;margin-left:50px;float:left;height:100px;width:80px;text-align:center;border-radius:50%;}
.lbox{padding:8px;border:1px solid #424242;}.lbox a{color:#DAD8D0!important;}